<style type="text/css">
        .gm-err-container {
            height: 100%;
            width: 100%;
            display: table;
            background-color: #e0e0e0;
            position: relative;
            left: 0;
            top: 0
        }
        
        .gm-err-content {
            border-radius: 1px;
            padding-top: 0;
            padding-left: 10%;
            padding-right: 10%;
            position: static;
            vertical-align: middle;
            display: table-cell
        }
        
        .gm-err-content a {
            color: #4285f4
        }
        
        .gm-err-icon {
            text-align: center
        }
        
        .gm-err-title {
            margin: 5px;
            margin-bottom: 20px;
            color: #616161;
            font-family: Roboto, Arial, sans-serif;
            text-align: center;
            font-size: 24px
        }
        
        .gm-err-message {
            margin: 5px;
            color: #757575;
            font-family: Roboto, Arial, sans-serif;
            text-align: center;
            font-size: 12px
        }
        
        .gm-err-autocomplete {
            padding-left: 20px;
            background-repeat: no-repeat;
            background-size: 15px 15px
        }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <style type="text/css">
        .gm-style .gm-style-cc span,
        .gm-style .gm-style-cc a,
        .gm-style .gm-style-mtc div {
            font-size: 10px
        }
    </style>
    <style type="text/css">
        @media print {
            .gm-style .gmnoprint,
            .gmnoprint {
                display: none
            }
        }
        
        @media screen {
            .gm-style .gmnoscreen,
            .gmnoscreen {
                display: none
            }
        }
    </style>
    <style type="text/css">
        .gm-style {
            font-family: Roboto, Arial, sans-serif;
            font-size: 11px;
            font-weight: 400;
            text-decoration: none
        }
        
        .gm-style img {
            max-width: none
        }
    </style>
    <style type="text/css">
        .gm-err-container {
            height: 100%;
            width: 100%;
            display: table;
            background-color: #e0e0e0;
            position: relative;
            left: 0;
            top: 0
        }
        
        .gm-err-content {
            border-radius: 1px;
            padding-top: 0;
            padding-left: 10%;
            padding-right: 10%;
            position: static;
            vertical-align: middle;
            display: table-cell
        }
        
        .gm-err-content a {
            color: #4285f4
        }
        
        .gm-err-icon {
            text-align: center
        }
        
        .gm-err-title {
            margin: 5px;
            margin-bottom: 20px;
            color: #616161;
            font-family: Roboto, Arial, sans-serif;
            text-align: center;
            font-size: 24px
        }
        
        .gm-err-message {
            margin: 5px;
            color: #757575;
            font-family: Roboto, Arial, sans-serif;
            text-align: center;
            font-size: 12px
        }
        
        .gm-err-autocomplete {
            padding-left: 20px;
            background-repeat: no-repeat;
            background-size: 15px 15px
        }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <style type="text/css">
        .gm-style .gm-style-cc span,
        .gm-style .gm-style-cc a,
        .gm-style .gm-style-mtc div {
            font-size: 10px
        }
    </style>
    <style type="text/css">
        @media print {
            .gm-style .gmnoprint,
            .gmnoprint {
                display: none
            }
        }
        
        @media screen {
            .gm-style .gmnoscreen,
            .gmnoscreen {
                display: none
            }
        }
    </style>
    <style type="text/css">
        .gm-style {
            font-family: Roboto, Arial, sans-serif;
            font-size: 11px;
            font-weight: 400;
            text-decoration: none
        }
        
        .gm-style img {
            max-width: none
        }
    </style>
    <script src="js/jquery-3.1.1.min.js"></script>
    <style type="text/css">
        .gm-err-container {
            height: 100%;
            width: 100%;
            display: table;
            background-color: #e0e0e0;
            position: relative;
            left: 0;
            top: 0
        }
        
        .gm-err-content {
            border-radius: 1px;
            padding-top: 0;
            padding-left: 10%;
            padding-right: 10%;
            position: static;
            vertical-align: middle;
            display: table-cell
        }
        
        .gm-err-content a {
            color: #4285f4
        }
        
        .gm-err-icon {
            text-align: center
        }
        
        .gm-err-title {
            margin: 5px;
            margin-bottom: 20px;
            color: #616161;
            font-family: Roboto, Arial, sans-serif;
            text-align: center;
            font-size: 24px
        }
        
        .gm-err-message {
            margin: 5px;
            color: #757575;
            font-family: Roboto, Arial, sans-serif;
            text-align: center;
            font-size: 12px
        }
        
        .gm-err-autocomplete {
            padding-left: 20px;
            background-repeat: no-repeat;
            background-size: 15px 15px
        }
* { box-sizing: border-box; }


/*start ^? Background Youtube Style*/

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

/*End Background Youtube Style*/

    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <style type="text/css">
        .gm-style .gm-style-cc span,
        .gm-style .gm-style-cc a,
        .gm-style .gm-style-mtc div {
            font-size: 10px
        }
    </style>
    <style type="text/css">
        @media print {
            .gm-style .gmnoprint,
            .gmnoprint {
                display: none
            }
        }
        
        @media screen {
            .gm-style .gmnoscreen,
            .gmnoscreen {
                display: none
            }
        }
    </style>
    <style type="text/css">
        .gm-style {
            font-family: Roboto, Arial, sans-serif;
            font-size: 11px;
            font-weight: 400;
            text-decoration: none
        }
        
        .gm-style img {
            max-width: none
        }
    </style>